f5_provider:
  server: "{{ ansible_host }}"
  user: "{{ ansible_user }}"
  password: "{{ ansible_password }}"
  validate_certs: no
  server_port: 443

partition: "{{ f5_partition | default('Common') }}"

f5_nodes:
  - name: web-server-01
    address: 10.69.238.202
    description: "Serveur Web Debian 1"
    monitors:
      - /Common/http
  - name: web-server-02
    address: 10.69.238.203
    description: "Serveur Web Debian 2"
    monitors:
      - /Common/https_443


f5_pools:
  - name: pool-web-http
    lb_method: round-robin
    description: "Pool HTTP pour serveurs web"
    monitors:
      - /Common/https_443
    monitor_type: and_list
