f5_provider:
  server: "{{ ansible_host }}"
  user: "{{ ansible_user }}"
  password: "{{ ansible_password }}"
  validate_certs: no
  server_port: 443

partition: "{{ f5_partition | default('Common') }}"

f5_nodes:
  - name: web-server-01
    address: 10.69.238.202
    description: "Serveur Web Debian 1"
  - name: web-server-02
    address: 10.69.238.203
    description: "Serveur Web Debian 2"


f5_pools:
  - name: pool-web-http
    lb_method: round-robin
    description: "Pool HTTP pour serveurs web"
    monitors:
      - /Common/http
    monitor_type: and_list


f5_pool_members:
  - pool: pool-web-http
    name: web-server-01
    address: 192.168.10.11
    port: 80
  - pool: pool-web-http
    name: web-server-02
    address: 192.168.10.12
    port: 80


f5_virtual_servers:
  - name: vs-web-http
    destination: 10.1.10.100
    port: 80
    pool: pool-web-http
    description: "Virtual Server HTTP"
    snat: automap
    profiles:
      - http
      - tcp
