---
- name: Ajouter les membres aux pools F5
  hosts: f5
  gather_facts: no
  collections:
    - f5networks.f5_modules

  tasks:
    - name: Ajouter les nodes aux pools
      bigip_pool_member:
        provider: "{{ f5_provider }}"
        pool: "{{ item.pool }}"
        name: "{{ item.name }}"
        port: "{{ item.port }}"
        partition: "{{ partition }}"
        state: present
      loop: "{{ f5_pool_members }}"
      delegate_to: localhost
      register: member_result

    - name: Afficher le résultat
      debug:
        msg: "Membre {{ item.item.name }}:{{ item.item.port }} ajouté au pool {{ item.item.pool }}"
      loop: "{{ member_result.results }}"
      when: item.changed
