---
- name: Créer un Virtual Server
  hosts: f5
  gather_facts: no
  collections:
    - f5networks.f5_modules

  vars_files:
    - ../group_vars/f5.yml

  vars_prompt:
    - name: vs_name
      prompt: "Nom du Virtual Server"
      private: no

    - name: vs_destination
      prompt: "Adresse IP du Virtual Server"
      private: no

    - name: vs_port
      prompt: "Port du Virtual Server"
      private: no
      default: "80"

    - name: vs_pool
      prompt: "Nom du Pool à associer (laisser vide si aucun)"
      private: no
      default: ""

    - name: vs_description
      prompt: "Description du Virtual Server (optionnel)"
      private: no
      default: ""

  tasks:
    - name: "Créer le Virtual Server {{ vs_name }}"
      bigip_virtual_server:
        provider: "{{ f5_provider }}"
        name: "{{ vs_name }}"
        destination: "{{ vs_destination }}"
        port: "{{ vs_port }}"
        pool: "{{ vs_pool if vs_pool != '' else omit }}"
        description: "{{ vs_description if vs_description != '' else omit }}"
        snat: automap
        profiles:
          - http
          - tcp
        state: present
      delegate_to: localhost
