---
- name: VS
  hosts: f5
  gather_facts: no
  collections:
    - f5networks.f5_modules

  vars_files:
    - ../group_vars/f5.yml

  vars:
    # Personnaliser selon vos besoins
    vs_name: "vs-test"
    vs_destination: "10.69.238.220"
    vs_port: 80
    vs_traffic_group: "traffic-group-2"  # ou traffic-group-2 (sans /Common/)

  tasks:
    - name: "Créer VS {{ vs_name }}"
      bigip_virtual_server:
        provider: "{{ f5_provider }}"
        name: "{{ vs_name }}"
        destination: "{{ vs_destination }}"
        port: "{{ vs_port }}"
        description: "VS on {{ vs_traffic_group }}"
        snat: automap
        partition: Common
        state: present
      delegate_to: localhost

    - name: "Assigner {{ vs_name }} au Traffic Group {{ vs_traffic_group }}"
      bigip_command:
        provider: "{{ f5_provider }}"
        commands:
          - "modify ltm virtual /Common/{{ vs_name }} traffic-group /Common/{{ vs_traffic_group }}"
          - "save sys config"
      delegate_to: localhost
      when: vs_traffic_group is defined
      register: tg_result

    - name: "Vérifier l'assignation au Traffic Group"
      bigip_command:
        provider: "{{ f5_provider }}"
        commands:
          - "list ltm virtual /Common/{{ vs_name }} traffic-group"
      delegate_to: localhost
      when: vs_traffic_group is defined
      register: tg_check

    - name: "Afficher le Traffic Group actuel"
      debug:
        msg: "{{ tg_check.stdout_lines }}"
      when: vs_traffic_group is defined