---
- name: Déploiement complet F5 - Nodes, Pools et Virtual Servers
  hosts: f5
  gather_facts: no
  collections:
    - f5networks.f5_modules

  vars_files:
    - ../group_vars/f5.yml

  tasks:
    - name: "ÉTAPE 1/2 - Créer les nodes"
      bigip_node:
        provider: "{{ f5_provider }}"
        name: "{{ item.name }}"
        address: "{{ item.address }}"
        description: "{{ item.description | default(omit) }}"
        monitors: "{{ item.monitors | default(omit) }}"
        partition: "{{ partition }}"
        state: present
      loop: "{{ f5_nodes }}"
      delegate_to: localhost

    - name: "ÉTAPE 2/2 - Créer les pools"
      bigip_pool:
        provider: "{{ f5_provider }}"
        name: "{{ item.name }}"
        lb_method: "{{ item.lb_method }}"
        description: "{{ item.description | default(omit) }}"
        monitors: "{{ item.monitors | default(omit) }}"
        monitor_type: "{{ item.monitor_type | default('and_list') }}"
        partition: "{{ partition }}"
        state: present
      loop: "{{ f5_pools }}"
      delegate_to: localhost
