---
- name: Changer le Traffic Group d'une Virtual Address
  hosts: f5
  gather_facts: no
  collections:
    - f5networks.f5_modules

  vars_files:
    - ../group_vars/f5.yml

  vars_prompt:
    - name: virtual_address
      prompt: "Adresse IP de la Virtual Address (ex: 10.69.238.111)"
      private: no

    - name: target_traffic_group
      prompt: "Traffic Group cible (traffic-group-1 ou traffic-group-2)"
      private: no

  tasks:
    - name: "Récupérer la configuration actuelle de {{ virtual_address }}"
      bigip_command:
        provider: "{{ f5_provider }}"
        commands:
          - "list ltm virtual-address {{ virtual_address }} traffic-group"
      delegate_to: localhost
      register: current_config

    - name: "Changer le Traffic Group de {{ virtual_address }} vers /Common/{{ target_traffic_group }}"
      bigip_command:
        provider: "{{ f5_provider }}"
        commands:
          - "modify ltm virtual-address {{ virtual_address }} traffic-group /Common/{{ target_traffic_group }}"
      delegate_to: localhost

    - name: "Sauvegarder la configuration"
      bigip_command:
        provider: "{{ f5_provider }}"
        commands:
          - "save sys config"
      delegate_to: localhost
